
/target/
build/
.next/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
node_modules/

!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

.mvn/wrapper/maven-wrapper.jar

.idea/
*.iws
*.iml
*.ipr

.classpath
.project
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache

.vscode/

*.env
*.env.local
*.local
application-local.properties

HELP.md
docker-compose.yml

*.log
.DS_Store
Thumbs.db